<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"> 
 <link rel="stylesheet" href="/static/css/jquery.mobile-1.4.5.min.css" />
 <link rel="stylesheet" href="/static/css/common.css" />
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="/static/js/controllers/common.js"></script>
    
    <title>Scheduler Service</title>
    </head>
     
    <body>
        <div id="header">
            <h1>My Scheduler</h1>
        </div>
        <div id="content">

            <!-- Example -->
            <div id="accordion-wrapper">

                <div class="accordion">
                    <h3>Lorem ipsum dolor</h3>
                    <div class="accordion-content">
                        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor.</p>
                    </div>
                </div>

                <div class="accordion">
                    <h3>Ibam forte sicut meus est</h3>
                    <div class="accordion-content">
                        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor.</p>
                    </div>
                </div>

                <div class="accordion">
                    <h3>Trans longe is prope hortos</h3>
                    <div class="accordion-content">
                        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor.</p>
                    </div>
                </div>
                        
                    

            </div>

        <div id="footer">
            Inviting You!
        </div>
    </body>
</html>
